<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="canonical" href="{{ url }}">

    <title>Drammit - The Social Whisky App</title>
    <meta name="description" content="Keep track of and rate the whiskies you drink. Free app for iOS and Android">

    <meta property="og:title" content="Drammit - The Social Whisky App" />
    <meta property="og:url" content="{{ url }}" />

    <meta name="apple-itunes-app" content="app-id=1039776610">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" />
    <link rel="stylesheet" href="{{ url }}/css/drammit.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url }}/favicon-16x16.png">
    <link rel="icon" href="{{ url }}/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="{{ url }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<header>
    <img class="logo" src="{{ url }}/images/drammit-logo.svg" alt="Drammit" />
    <h1>Drammit</h1>
    <h2>Keep track of and rate the whiskies you drink</h2>

    <ul>
        <li>
            <a href="https://itunes.apple.com/us/app/drammit/id1039776610">
                <img src="{{ url }}/images/app-store.png" alt="Available on the App Store">
            </a>
        </li>
        <li>
            <a href="http://play.google.com/store/apps/details?id=it.dramm.app">
                <img src="{{ url }}/images/google-play.png" alt="Get it on Google play">
            </a>
        </li>
    </ul>
</header>

<nav>
    <ul>
        <li><a href="https://blog.dramm.it">Blog</a></li>
        <li><a href="https://facebook.com/drammit">Facebook</a></li>
        <li><a href="https://twitter.com/DrammitApp">Twitter</a></li>
    </ul>
</nav>

<main>
