<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="canonical" href="{{ url }}">

    <title>Drammit - The Social Whisky App</title>
    <meta name="description" content="Keep track of and rate the whiskies you drink. Free app for iOS and Android">

    <meta property="og:title" content="Drammit - The Social Whisky App" />
    <meta property="og:url" content="{{ url }}" />

    <meta name="apple-itunes-app" content="app-id=1039776610">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" />
    <link rel="stylesheet" href="{{ url }}/css/drammit.css" />
</head>

<body>
<header>
    <img class="logo" src="{{ url }}/images/drammit-logo.svg" alt="Drammit" />
    <h1>Drammit</h1>
    <h2>Keep track of and rate the whiskies you drink</h2>

    <ul>
        <li>
            <a href="https://itunes.apple.com/us/app/drammit/id1039776610">
                <img src="{{ url }}/images/app-store.png" alt="Available on the App Store">
            </a>
        </li>
        <li>
            <a href="http://play.google.com/store/apps/details?id=it.dramm.app">
                <img src="{{ url }}/images/google-play.png" alt="Get it on Google play">
            </a>
        </li>
    </ul>
</header>

<nav>
    <ul>
        <li><a href="https://blog.dramm.it">Blog</a></li>
        <li><a href="https://facebook.com/drammit">Facebook</a></li>
        <li><a href="https://twitter.com/DrammitApp">Twitter</a></li>
    </ul>
</nav>

<main>
    <section>
        <h1>Social Whisky App Drammit</h1>

        <p>
            Drammit allows you to keep track of and rate the whiskies you're enjoying. While doing
            so you can rate and leave marks on the dram. <em>Share your whisky thoughts with the
            world.</em>
        </p>

        <p>
            Get recommendations for whisky based on what you and others drink. Drammit matches your
            taste with the perfect drams just for you!
        </p>

        <p>
            <em>Follow fellow whisky enthusiasts</em> to share your thoughts with!
        </p>

        <p>
            Choose from over <em>60,000 whiskies</em> from over <em>160 different distillers</em>.
            There is a whole range of taste waiting for you.
        </p>

        <h2>Drammit is available on:</h2>

        <ul>
            <li>
                <a href="https://itunes.apple.com/us/app/drammit/id1039776610">iOS devices through the App Store</a>
            </li>
            <li>
                <a href="http://play.google.com/store/apps/details?id=it.dramm.app">Android devices via Google Play</a>
            </li>
            <li>
                <a href="https://app.dramm.it/">All major browsers using https://app.dramm.it</a>
            </li>
        </ul>

        <h2>Get in touch</h2>

        <p>
            Please use the form below or send an email to
            <a href="mailto:support@dramm.it">support@dramm.it</a> to get in touch with me.
        </p>
    </section>

    <section>
        <img src="{{ url }}/images/screenshot.png" alt="Drammit Example">
    </section>
</main>
</body>
</html>
