<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="{{ url }}" />
    <link rel="canonical" href="{{ url }}">

    <title>Drammit - The Social Whisky App</title>
    <meta name="description" content="Keep track of and rate the whiskies you drink. Free app for iOS and Android">

    <meta property="og:title" content="Drammit - The Social Whisky App" />
    <meta property="og:url" content="{{ url }}" />

    <meta name="apple-itunes-app" content="app-id=1039776610">

    <link rel="stylesheet" type="text/css" href="/drammit.css" />
</head>

<body>
<header>
    <h1>Drammit</h1>
    <h2>Keep track of and rate the whiskies you drink</h2>
</header>
</body>
</html>
