$white: #fff;
$green: #365131;
$orange: #cc5914;
$text: #414141;

$screen-md: 760px;

* { box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

header {
  background: {
    image: url(./images/hero.jpg);
    size: cover;
    repeat: no-repeat;
    position: 50% 50%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $screen-md) {
    min-height: 72vh;
    max-height: 600px;
  }

  padding: 50px 24px 20px 24px;

  color: $white;

  h1 {
    display: none;
  }

  h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    margin: 30px;
  }

  img.logo {
    max-width: 800px;
  }

  ul {
    padding: 0;
    margin: 0 0 30px 0;
    display: flex;

    li {
      list-style: none;
      margin: 0 10px;
    }
  }
}

main {
  @media (min-width: $screen-md) {
    display: flex;
  }

  align-items: center;

  max-width: $screen-md;
  margin: 24px auto;

  line-height: 1.7em;
  color: $text;

  h1, h2 {
    font-weight: normal;
    color: $green;
  }

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.4em;
  }

  a {
    color: $orange;

    &:hover {
      color: lighten($orange, 5);
    }
  }

  section {
    padding: 0 24px;
    margin: 24px 0;

    img {
      width: 295px;
    }
  }
}
